*{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

.App{
  min-height: 100hv;
  background-color: blueviolet;
}

.container{
   width: 350px;
   margin: 0 auto;
   padding-top: 200px;
   padding-bottom: 100px;
}

.generator{
  background-color: #232224;
  border-radius: 3px;
  box-shadow: 0px 2px 10px rgb(255, 255,255, 0.2);
  padding: 20PX;
}

.generator_header{
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.generator_password{
  position: relative;
  background-color: rgb(0, 0, 0, 0.4);
  padding: 12px;
  color: #fff;
  height: 46px;
  margin-bottom: 15px;
}

.copy_btn{
  position: absolute;
  background-color: #4b4552;
  color: white;
  border: none;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  top: 3px;
  right: 2px;
}

.generate_btn{
  background-color: #431ebd;
  border: none;
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

.form_group{
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}